.clock-container {
  height: 100vh;
  grid-template-rows: 1fr max-content;
}

.clock-circle {
  position: relative;
  width: 200px;
  height: 200px;
  box-shadow: -6px -6px 16px var(--white-color),
    6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
    inset 6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
    inset -6px -6px 16px var(--white-color);
  border-radius: 50%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.clock-content {
  align-self: center;
  row-gap: 3.5rem;
}

.clock-twelve,
.clock-three,
.clock-six,
.clock-nine {
  position: absolute;
  width: 1rem;
  height: 1px;
  background-color: var(--text-color-light);
}

.clock-twelve,
.clock-six {
  transform: translateX(-50%) rotate(90deg);
}

.clock-twelve {
  top: 1.25rem;
  left: 50%;
}

.clock-three {
  top: 50%;
  right: 0.75rem;
}

.clock-six {
  bottom: 1.25rem;
  left: 50%;
}

.clock-nine {
  left: 0.75rem;
  top: 50%;
}

.clock-rounder {
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--first-color);
  border-radius: 50%;
  border: 2px solid var(--body-color);
  z-index: var(--z-tooltip);
}

.clock-hour,
.clock-minutes,
.clock-seconds {
  position: absolute;
  display: flex;
  justify-content: center;
}

.clock-hour {
  width: 105px;
  height: 105px;
}

.clock-hour::before {
  content: '';
  position: absolute;
  background-color: var(--text-color);
  width: 0.25rem;
  height: 3rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

.clock-minutes {
  width: 136px;
  height: 136px;
}

.clock-minutes::before {
  content: '';
  position: absolute;
  background-color: var(--text-color);
  width: 0.25rem;
  height: 4rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

.clock-seconds {
  width: 130px;
  height: 130px;
}

.clock-seconds::before {
  content: '';
  position: absolute;
  background-color: var(--first-color);
  width: 0.125rem;
  height: 5rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

.clock-text {
  display: flex;
  justify-content: center;
}

.clock-text-hour,
.clock-text-minutes {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.clock-text-ampm {
  font-size: var(--tiny-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-left: var(--mb-0-25)
}


