.focus-input {
  color: var(--text-color);
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid white;
  font-size: 20px;
  text-align: center;
}

#focus-form {
  padding-top: 3rem;
}

#focus-text {
  font-size: var(--tiny-font-size);
  font-weight: 400;
}
