#todo-container {
  position: absolute;
  top: 50px;
  left: 38px;
  z-index: 10;
  width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#todo-container-header {
  z-index: 10;
  cursor: move;
  background: var(--title-color);
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
  color: white;
}

.bxs-plus-square {
  float: right;
  font-size: 2rem;
  cursor: pointer;
}

.bxs-minus-square {
  float: right;
  font-size: 2rem;
}

li {
  background: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
}

li:nth-child(2n) {
  background: #f7f7f7;
}

.todo-object {
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.3s linear;
  opacity: 0;
}

li:hover {
  cursor: pointer;
}

li:hover .todo-object {
  width: 40px;
  opacity: 1;
}

#add-todo {
  font-size: 18px;
  background: #f5f5f5;
  color: #2980b9;
  width: 100%;
  border: none;
  box-sizing: border-box;
  padding: 13px 13px 13px 20px;
  display: none;
}

#add-todo:focus {
  border: 2px solid var(--title-color);
  background: white;
  outline: none;
}

.completed {
  text-decoration: line-through;
  color: grey;
}

li.over {
  border: 1px dashed grey;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
  transition: opacity 500ms;
} 
